# environment variables
.env
.env.*
!.env.example

# python
**/.venv/
**/__pycache__/
**/*.pyc
**/*.egg-info/
**/*.egg-info
**/*.dist-info/

# js
node_modules/
dist/

# .net
**/bin/
**/obj/

# global
.vscode/